<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="nuc.ss.dao.UserMapper">

    <select id="getUserLike" resultType="nuc.ss.pojo.User">
        select * from mybatis.user where name like #{value };
    </select>
    <!--select查询语句-->
    <select id="getUserList" resultType="nuc.ss.pojo.User">
       select * from mybatis.user
   </select>

    <select id="getUserById" parameterType="int" resultType="nuc.ss.pojo.User">
        select * from mybatis.user where id = #{id}
    </select>

    <!-- 对象中的属性，可以提取出来 -->
    <insert id="addUser" parameterType="nuc.ss.pojo.User">
        insert into mybatis.user (id, name, pwd) values (#{id},#{name},#{pwd});
    </insert>

    <!-- 对象中的属性，可以提取出来
    传递map的key
    -->
    <insert id="addUser2" parameterType="map">
        insert into mybatis.user (id, name, pwd) values (#{userid},#{userName},#{password});
    </insert>

    <update id="updateUser" parameterType="nuc.ss.pojo.User">
        update mybatis.user set name = #{name}, pwd = #{pwd} where id = #{id};
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from mybatis.user where id = #{id};
    </delete>
</mapper>