<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="nuc.ss.dao.UserMapper">

    <!-- 第一种解决方案 -->
    <!--<select id="getUserById" parameterType="int" resultType="user">-->
    <!--    select id,name,pwd password from mybatis.user where id = #{id}-->
    <!--</select>-->

    <!-- 第二种解决方案 -->

    <resultMap id="UserMap" type="user">
        <!-- column数据库的字段，property实体类中的属性 -->
        <!--<result column="id" property="id"/>-->
        <!--<result column="name" property="name"/>-->
        <result column="pwd" property="password"/>
    </resultMap>
    <select id="getUserById" resultMap="UserMap">
        select * from mybatis.user where id = #{id}
    </select>
</mapper>